/* .header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 4rem;
} */

.header {
	margin-bottom: 1rem;
}

.checkbox[type='checkbox'] {
	accent-color: #808080;
}

.inputContainer {
	display: flex;
	padding: 20px 30px;
	align-items: center;
	border-radius: 5px;
	max-width: fit-content;
	background-color: white;
	margin-bottom: 0.8rem;
	position: relative;
}

.inputField {
	border: none;
}

.inputField:focus {
	outline: none;
}

.labelModeCheckbox {
	font-weight: 500;
	font-size: 14px;
	margin-right: 0.8rem;
}

.label {
	font-weight: 700;
	margin-right: 0.8rem;
}

.logoAlster {
	margin-top: 2rem;
}

.btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.clearLsBtn {
	background-color: rgb(205, 202, 202);
	border: none;
	padding: 0.4rem;
	border-radius: 5px;
	margin-top: 1rem;
}

.dataResult {
	margin-top: 5px;
	width: 300px;
	height: 200px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
}

.dataResult .dataItem {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	color: black;
}

.dataItem {
	margin-left: 10px;
	line-height: 1.3;
}

.dataItem:hover {
	background-color: lightgrey;
	cursor: pointer;
}

.searchListItem:hover {
	background: lightgrey;
	cursor: pointer;
}

.searchListItem.active {
	background: lightgrey;
}

/* Desktop */
@media (min-width: 701px) {
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}
