.card {
	display: flex;
	color: #ccc;
	padding: 1.5rem;
	border-radius: 2px;
	margin: 1rem;
	gap: 2rem;
	position: relative;
}

.closeBtn {
	position: absolute;
	top: 0.6rem;
	right: 0.6rem;
	cursor: pointer;
}

.temp {
	font-size: 1.2rem;
	font-weight: 400;
	display: inline-block;
	margin-right: 0.2rem;
}

.cityName,
.country {
	font-size: 1rem;
	font-weight: 400;
	margin-right: 0.2rem;
}

.weatherDetails {
	display: flex;
	flex-direction: column;
	margin-top: 0.8rem;
}

.pipe {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.bgHighTemp {
	background-color: rgb(242, 71, 38, 0.4);
}

.bgModerateTemp {
	background-color: rgb(250, 199, 16, 0.4);
}

.bgLowTemp {
	background-color: rgb(45, 155, 240, 0.4);
}
