.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 0.8rem;
	padding-left: 0.4rem;
	margin-bottom: 1rem;
}

.closeBtn {
	cursor: pointer;
	width: 1.2rem;
	height: 1.2rem;
}

.temp {
	font-size: 0.8rem;
	display: inline-block;
	margin-right: 0.2rem;
}

.cityName,
.country {
	font-size: 0.8rem;
}

.weatherDetails {
	display: flex;
	flex-direction: column;
}

.pipe {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

@media (min-width: 768px) {
	.cityName,
	.country {
		font-size: 0.8rem;
	}
}
